{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'w3-css.css' %}">
<link href="{% static 'assets/*' %}">
<head>
<title>Cadastro Silveira Advogados</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel="stylesheet" href="silveiraAdvog/templates/silveiraAdvog/CSS/w3-css.css">
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"> -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Georgia", serif}
.w3-bar,h1,button {font-family: "Georgia", serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Navbar   -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button">
      <img src={% static '/assets/saAdvog-gold.png' %} alt="SA" style="height:38px;">
    </a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-text-gold">Sobre</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-text-gold">Contato</a>
    <a href="cadastro/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-text-gold">Marcar Consulta</a>
    <a href="login/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-text-gold">Login</a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 4</a> -->
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-red w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-text-gold">Sobre</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-text-gold">Contato</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-text-gold">Marcar Consulta</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-text-gold">Login</a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a> -->
  </div>
</div>
<!-- ----------------------------------------------------------------- -->
<div class="w3-row-padding w3-padding-64 w3-container">
	<div class="w3-content">
		<div class="w3-twothird">
			<form action="" method="post" name="signupForm">
			  <label for="name" class="w3-bar-item w3-button w3-padding-large w3-text-gold">Nome:</label>
			  <input type="text" id="name" name="name"><br><br>
			  <label for="surname" class="w3-bar-item w3-button w3-padding-large w3-text-gold">Sobrenome:</label>
			  <input type="text" id="surname" name="surname"><br><br>
			  <label for="cpf" class="w3-bar-item w3-button w3-padding-large w3-text-gold">CPF:</label>
			  <input type="text" id="cpf" name="cpf"><br><br>
			  <label for="mail" class="w3-bar-item w3-button w3-padding-large w3-text-gold">email:</label>
			  <input type="text" id="mail" name="mail"><br><br>
			  <label for="password" class="w3-bar-item w3-button w3-padding-large w3-text-gold">Senha:</label>
			  <input type="password" id="password" name="password"><br><br>
			  <input type="submit" value="Cadastrar" class="w3-large w3-bar-item w3-button w3-padding-large w3-text-gold w3-bar w3-red w3-card">
			</form>
		</div>
	</div>
</div>
<!-- ----------------------------------------------------------------- -->
<div class="w3-container w3-red w3-center w3-padding-32">
    <h1 class="w3-margin w3-xlarge">Nossas redes sociais</h1>
    <div class="w3-xlarge w3-padding-16">
      <a href="https://pt-br.facebook.com/" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
   </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-8 w3-center w3-opacity">  
  <!--<div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div> -->
 <!-- <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p> -->
 <p>Powered by <a href="https://pt.wikipedia.org/wiki/Cafe%C3%ADna" target="_blank">Caffeine</a> and W3.CSS</p>
</footer>

<script>
  function validateForm() {
    var name = document.forms["signupForm"]["name"];
    var surname = document.forms["signupForm"]["surname"];
    var cpf = document.forms["signupForm"]["cpf"];
    var mail = document.forms["signInserir CPF, email e senha.upForm"]["mail"];
    var password = document.forms["signupForm"]["password"];
    if(cpf == "" || mail == "" || password == "" || surname == "" || name == "") {
      alert("Preencha todos os campos.");
      return false;
    }
  }
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
