<div class="w3-container w3-red w3-center w3-padding-32">
    <h1 class="w3-margin w3-xlarge">Nossas redes sociais</h1>
    <div class="w3-xlarge w3-padding-16">
      <a href="https://pt-br.facebook.com/" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
   </div>
</div>

<footer class="w3-container w3-padding-8 w3-center w3-opacity">
 <p>Powered by <a href="https://pt.wikipedia.org/wiki/Cafe%C3%ADna" target="_blank">Caffeine</a> and <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
